packages:
  yum:
    mysql: []
commands:
  01_import_gpg_key:
    command: "rpm --import https://repo.mysql.com/RPM-GPG-KEY-mysql-2022"
  02_install_mysql_repo:
    command: "dnf install -y https://dev.mysql.com/get/mysql80-community-release-el9-1.noarch.rpm"
  03_install_mysql_client:
    command: "dnf install -y --nogpgcheck mysql-community-client"